@charset "utf-8";
a:hover .ico {animation:navIcoMove .8s 1; -webkit-animation:navIcoMove .8s 1; -moz-animation:navIcoMove .8s 1;}
.share .ico, .globelsearch input, .globelnav_logo, .globelnav .ico, .ico_navhover, .globelnav_ul .cur {background-image: url(../images/globelnav.png); background-repeat: no-repeat;}
h1 {position: absolute; left: -9999px;}
.globelnav {position: relative; float: left; width: 130px; z-index: 9;}
.globelnav .ico {position: absolute; left: 3px; top: 2px; width: 30px; height: 30px;}
.globelnav .ico_navhover {position: absolute; left: 0; top: 0; width: 0; height: 34px; background-position: 0 -226px; z-index: -1;}
.globelnav_logo {width: 130px; height: 190px;animation:pop_fadein .5s alternate ease-in-out;-webkit-animation:pop_fadein .5s alternate ease-in-out;-moz-animation:pop_fadein .5s alternate ease-in-out;}
.globelnav_ul {margin-top: 15px;}
.globelnav_ul li {position: relative; >float: left; width: 130px; height: 34px; margin-bottom: 7px; line-height: 34px;}
.globelnav_ul a {position: relative; display: block; padding-left: 43px; font-size: 16px; color: #000;}
.globelnav_ul_sec .first {padding: 10px 0; border-top: #dedede solid 1px;border-bottom: #dedede solid 1px;}
.globelnav_ul a:hover .ico_navhover {width: 130px; transition:all .5s ease-in-out; animation:none;-webkit-animation:none;-moz-animation:none;}
.globelnav_ul .cur, .globelnav_ul .cur:hover {background-position: 0 -261px; color: #fff;}
.globelnav_ul .cur .ico_navhover {display: none;}
.globelnav_drop {position: absolute; right: -192px; top: 0; width: 172px; background: #fff; padding: 10px;}
.globelnav_drop a {float: left; display: block; width: 86px; padding: 0; font-size: 16px; line-height: 34px; text-align: center;}
.globelnav_drop a:hover {background: #c10000; color: #fff;}
.globelsearch input {width: 110px; height: 16px; background-position: 0 -191px; background-color: transparent; padding: 9px 10px; line-height: 16px; border: none;}
.globelsearch input:focus, .globelsearch .cur {background-position: 0 -225px;}
.globelslogan {margin: 10px 0 3px; font-size: 13px; color: #c10000; text-indent: 3px;}
.globelcode {font-size: 13px;}
.globelcode p {text-indent: 3px;}
.globelcode em {color: #4aae0e;}
.globelcode img {height: 128px; margin-top: 5px;}
.ico_nav1 {background-position: -130px 0;}
.ico_nav2 {background-position: -130px -30px;}
.ico_nav3 {background-position: -130px -60px;}
.ico_nav4 {background-position: -130px -90px;}
.ico_nav5 {background-position: -130px -120px;}
.ico_nav6 {background-position: -130px -150px;}
.ico_nav7 {background-position: -130px -180px;}
.ico_nav8 {background-position: -190px 0;}
.ico_nav9 {background-position: -190px -30px;}
.ico_nav10 {background-position: -190px -60px;}
.globelnav_ul a:hover .ico_nav7 {background-position: -160px -180px;}
.globelnav_ul a:hover .ico_nav8 {background-position: -220px 0;}
.globelnav_ul a:hover .ico_nav9 {background-position: -220px -30px;}
.globelnav_ul a:hover .ico_nav10 {background-position: -220px -60px;}
.cur .ico_nav1 {background-position: -160px 0;}

.globelnav_ul_sec .seclink_li .seclink_list {height: 0; overflow: hidden;}
.globelnav_ul_sec .seclink_li .ico_nav7 {background-position: -160px -180px;}
.globelnav_ul .seclink_list a {font-size: 14px; color: #666; line-height: 26px;}
.globelnav .ico_arrow {left: 126px; top: 14px; width: 7px; height: 4px; background-position: -131px -211px;-webkit-transform: rotate(0deg);transform: rotate(0deg);-webkit-transition:all .2s linear;transition:all .2s linear;}
.globelnav a:hover .ico_arrow {animation: none;-webkit-animation:none; -moz-animation:none;}
.globelnav_ul_sec .seclink_show {height: auto;}
.globelnav_ul_sec .seclink_show .seclink_list {height: auto;}
.globelnav_ul_sec .seclink_show .ico_arrow {-webkit-transform: rotate(-180deg);transform: rotate(-180deg);-webkit-transition:all .2s linear;transition:all .2s linear;}

.minidrop .ico, .mininav_logo a, .mininav_search input {background: url(../images/mininav.png) no-repeat 0 0;}
.mininav {position: fixed; left: 0; top: 0; width: 100%; background: #cc0010; z-index: 10;}
.mininav_con {width: 1140px; height: 58px; margin: 0 auto;}
.mininav_logo {position: relative; float: left; width: 114px; height: 58px;}
.mininav_logo a {display: block; width: 114px; height: 58px;}
.mininav_list {float: left; margin-left: 30px;}
.mininav_list li {float: left;}
.mininav_list a {display: block; padding: 0 10px; font-size: 16px; color: #fff; line-height: 58px;}
.mininav_list .cur, .mininav_list a:hover {background: #a9010e; color: #fff;}
.minidrop {position: relative; float: right; margin-left: 20px; z-index: 9;}
.minidrop_tt {cursor: pointer; font-size: 14px; color: #fff; line-height: 58px;}
.minidrop_wx .ico {width: 26px; height: 58px; background-position: -267px 0;}
.minidrop_con {position: absolute; right: 0; top: 58px; display: none; background: #cc0010;}
.minidrop_wx .minidrop_con {width: 184px; height: 180px; background: #cc0010; padding-top: 5px; font-size: 13px; color: #fff; text-align: center;}
.minilogin {float: right; margin-left: 20px; font-size: 14px; color: #fff; line-height: 58px;}
.minilogin a {color: #fff;}
.minilogin a:hover {color: #fff; text-decoration: underline;}
.minidrop_user .minidrop_tt {padding-right: 14px;}
.minidrop_user .ico {position: absolute; right: 0; top: 27px; width: 9px; height: 5px; background-position: 0 -59px;}
.minidrop_user .minidrop_con a {display: block; width: 100px; font-size: 14px; color: #fff; line-height: 30px; text-align: center;}
.minidrop_user .minidrop_con a:hover {background: #f40316;}
.mininav_search {float: right; width: 151px; height: 32px; margin-top: 14px;}
.mininav_search input {width: 131px; background-position: -115px -33px; padding: 8px 10px;}
.mininav_search input:focus, .mininav_search .cur {background-position: -115px 0;}