@charset "utf-8";
/* @author ------- weibo.com/shauning
 * @design ------- vinha
 * @time   ------- 2015-05-12*/
/*reset*/
html {overflow-y: scroll}
html, body {background: #efefef; font:20px/1.5 "Helvetica Neue", Helvetica, STHeiTi, sans-serif; color:#666; -webkit-tap-highlight-color:rgba(0,0,0,0);}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:500; }
ol,ul { list-style:none; }
table { border-collapse:collapse; border-spacing:0; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-size:100%; color: #000; font-weight:500; }
abbr,acronym { border:0; }
del{text-decoration:line-through}
input, select, textarea{font-size:100%; -webkit-appearance:none;}
textarea{resize:none;}
q:before,q:after{content:''}
ins,a{ color: #333; text-decoration:none;}

.home, .ico, .channel {background: url(../images/sprite.png) no-repeat 0 0;}
.header {position: relative; height: 45px; background: #ce0000; padding: 0 0.5rem;}
.logo {float: left; width: 233px;}
.logo a {display: block; height: 45px; background: url(../images/logo.png) no-repeat center center; text-indent: -9999px;background-size: 233px 45px;}
.channel {position: absolute; right: 0.5rem; top: 10px; display: block; width: 25px; height: 25px; background-position: -30px 0; background-size: 55px 60px; text-indent: -9999px;}
.channel_cur {background-position: -30px -25px;}
.home {position: absolute; left: 0.5rem; top: 10px; display: block; width: 25px; height: 25px; background-position: -30px -25px; background-size: 55px 60px; text-indent: -9999px;}
.navbar {position: relative;}
.nav {height: 30px; background: #fff; padding: 0 0.5rem;}
.nav li {float: left; width: 16.66%; height: 30px; font-size: 0.8rem; line-height: 30px; overflow: hidden;}
.nav a {display: inline-block;}
.nav .cur {height: 27px; font-weight: bold; border-bottom: 3px #ce0000 solid;}
.nav_5 li {width: 20%;}
.tigger:after, .morebtn:after {position: absolute; display: inline-block; content: ""; width: 0; height: 0; line-height: 0; margin-top: 12px; font-size: 0; color: #0073c6; border-style: solid; border-color: #717171 #fff #fff #fff; border-width: 5px;}
.nav_drop {position: absolute; left: 0; top: 30px; height: auto;}

.wrapper {padding:0 0.5rem;}
.contentbox {width: 100%; margin-top: 0.5rem;}
.contentbox a {display: block; background: #fff; padding: 0 0 0.25rem;}
.contentbox h2 {padding: 0 0.5rem; font-size: 0.8rem; font-weight: bold;}
.contentbox div {padding: 0 0.5rem; font-size: 0.7rem; line-height: 30px;}
.avatar {float: left; display: block; width: 30px; margin-right: 5px; border-radius: 50%;}
.contentbox_img {display: block; width: 100%; height: 100%; margin-bottom: 0.35rem;}
.morebtn {display: block; height: 53px; background: #fff; margin-top: 0.5rem; font-size: 0.8rem; line-height: 53px; text-align: center;}
.morebtn:after {margin-top: 24px;}

.footer {background: #686868; padding: 0.5rem 0; margin-top: 0.5rem; font-size: 0.7rem; color: #efefef;}
.footer .nav {background: #686868; margin-bottom: 10px;}
.footer a {color: #efefef;}
.footer p {color: #989898;}
.footer p a {margin: 0 0.5rem;}
.footer div {margin-left: 0.5rem; font-size: 0.6rem; color: #efefef;}

.body_content {background: #fff;}

.content_title {margin: 0.5rem 0;}
.content_title h2 {font-size: 1rem; font-weight: bold;}
.mod_info {height: 30px; margin-top: 0.5rem; font-size: 0.7rem; line-height: 30px; overflow: hidden;}
.article {font-size: 0.9rem; color: #333;}
.article img {width: 100%; height: 100%;}
.qcode span {color: #ce0000;}
.qcode div {margin-top: 10px; text-align: center;}
.qcode img {width: 122px; height: 122px;}

.box_tt {height: 50px; border-top: 3px #ce0000 solid;}
.box_tt h3 {font-size: 0.9rem; color: #333; line-height: 50px; font-weight: bold;}
.txtlist li {height: 50px; font-size: 0.8rem; line-height: 50px; border-top: 2px #e5e5e5 solid; overflow: hidden;}

/*share*/
.content_pannel {height: 30px; margin: 0.5rem 0; font-size: 0.7rem;}
.share {float: right; height: 30px; line-height: 30px;}
.share span {float: left;}
.share a {float: left; display: block; height: 30px; margin:0 0 0 2px; overflow: hidden;}
.share .ico {display: block; width: 30px; height: 30px; text-indent: -9999px;}
.ico_wb {background-position: 0 0;}
.ico_wx {background-position: 0 -30px}
.ico_qzone {background-position: 0 -60px}
.ico_tqq {background-position: 0 -90px}

.list_tt {font-size: 1rem; color: #fff; line-height: 45px; text-align: center;}
.listbox {width: 100%; margin-top: 0.5rem;}
.listbox a {display: block; height: 87px; background: #fff; overflow: hidden;}
.listbox_img {float: left; width: 140px; height: 87px; margin-right: 0.5rem;}
.listbox h2 {height: 45px; margin: 5px 0; font-size: 0.8rem; font-weight: bold; overflow: hidden;}
.listbox div {font-size: 0.7rem; line-height: 30px;}

.channelbox h2 {padding: 0 0.5rem; font-size: 0.9rem; line-height: 30px; font-weight: bold; border-bottom: 3px #ec0000 solid;}
.channellist {background: #fff; padding: 0.3rem 0.5rem; overflow: hidden;}
.channellist li {float: left; width: 20%; height: 30px; font-size: 0.8rem; line-height: 30px; overflow: hidden;}