@charset "utf-8";
/* @author ------- weibo.com/shauning
 * @design ------- vinha
 * @time   ------- 2015-05-12*/
/*reset*/
html {overflow-y: scroll}
html, body {background: #fff; font:20px/1.5 "Helvetica Neue", Helvetica, STHeiTi, sans-serif; color:#666; -webkit-tap-highlight-color:rgba(0,0,0,0);}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:500; }
ol,ul { list-style:none; }
table { border-collapse:collapse; border-spacing:0; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-size:100%; color: #000; font-weight:500; }
abbr,acronym { border:0; }
del{text-decoration:line-through}
input, select, textarea{font-size:100%; -webkit-appearance:none;}
textarea{resize:none;}
q:before,q:after{content:''}
ins,a{ color: #333; text-decoration:none;}

.home, .ico, .channel {background: url(../images/sprite.png) no-repeat 0 0;}
.header {position: relative; height: 45px; background: #ce0000; padding: 0 0.5rem;}
.logo {float: left; width: 233px;}
.logo a {display: block; height: 45px; background: url(../images/logo.png) no-repeat center center; text-indent: -9999px;background-size: 233px 45px;}
.channel {position: absolute; right: 0.5rem; top: 10px; display: block; width: 25px; height: 25px; background-position: -30px 0; background-size: 55px 60px; text-indent: -9999px;}
.channel_cur {background-position: -30px -25px;}
.home {position: absolute; left: 0.5rem; top: 10px; display: block; width: 25px; height: 25px; background-position: -30px -25px; background-size: 55px 60px; text-indent: -9999px;}
.navbar {position: relative; height: 30px; margin-bottom: 0.5rem;}
.nav {height: 30px; background: #f6f6f6; padding: 0 0.5rem; overflow: hidden;}
.nav li {float: left; width: 25%; height: 30px; font-size: 0.8rem; line-height: 30px; overflow: hidden;}
.nav a {display: inline-block;}
.nav .cur a {height: 27px; font-weight: bold; border-bottom: 3px #ce0000 solid;}
.nav_show {height: auto;}
/*.nav_5 li {width: 20%;}
.nav_4 li {width: 25%;}*/
.tigger {position: absolute; left: 75%; top: 0; width: 20%; font-size: 0.8rem; line-height: 30px;}
.tigger:after, .morebtn:after {position: absolute; display: inline-block; content: ""; width: 0; height: 0; line-height: 0; margin-top: 12px; font-size: 0; color: #0073c6; border-style: solid; border-color: #717171 #fff #fff #fff; border-width: 5px;}
.tigger:after {border-color: #717171 #f6f6f6 #f6f6f6 #f6f6f6;}
.tigger_show {position: static; display: block; width: 100%; background: #f6f6f6; text-align: center;}
.tigger_show:after {margin-top: 6px; border-color: #f6f6f6 #f6f6f6 #717171 #f6f6f6;}
.nav_drop {position: absolute; left: 0; top: 30px; height: auto;}
.navbar_con {position: absolute; left: 0; top: 0; width: 100%;}


.wrapper {padding:0 0.5rem; overflow: hidden;}
.wrapper_index {background: #efefef;}
.contentbox {width: 100%; margin-top: 0.5rem;}
.contentbox a {display: block; background: #fff; padding: 0 0 0.25rem;}
.contentbox h2 {padding: 0 0.5rem; font-size: 0.8rem; font-weight: bold;}
.contentbox div {padding: 0 0.5rem; font-size: 0.7rem; line-height: 30px;}
.avatar {float: left; display: block; width: 30px; margin-right: 5px; border-radius: 50%;}
.contentbox_img {display: block; width: 100%; height: 100%; margin-bottom: 0.35rem;}
.morebtn {display: block; height: 53px; background: #fff; font-size: 0.8rem; line-height: 53px; text-align: center; border: 0.5rem #efefef solid;}
.morebtn:after {margin-top: 24px;}

.footer {background: #686868; padding: 0.5rem 0; margin-top: 0.5rem; font-size: 0.7rem; color: #efefef;}
.footer .nav {background: #686868; margin-bottom: 10px;}
.footer .nav li {width: 16.66%;}
.footer a {color: #efefef;}
.footer p {color: #989898;}
.footer p a {margin: 0 0.5rem;}
.footer div {margin-left: 0.5rem; font-size: 0.6rem; color: #efefef;}

.body_content {background: #fff;}

.content_title {margin: 0.5rem 0;}
.content_title h2 {font-size: 1rem; font-weight: bold;}
.mod_info {height: 30px; margin-top: 0.5rem; font-size: 0.7rem; line-height: 30px; overflow: hidden;}
.article {padding-top: 0.5rem; font-size: 0.9rem; color: #333; border-top: 1px #e0e0e0 solid;}
.article img {width: 100%; height: 100%;}
.qcode {margin-top: 20px;}
.qcode span {color: #ce0000;}
.qcode div {margin-top: 10px; text-align: center;}
.qcode img {width: 122px; height: 122px;}

.box_tt {height: 50px; border-top: 3px #ce0000 solid;}
.box_tt h3 {float: left; font-size: 0.9rem; color: #333; line-height: 50px; font-weight: bold;}
.txtlist li {height: 50px; font-size: 0.8rem; line-height: 50px; border-top: 2px #e5e5e5 solid; overflow: hidden;}
.box_C .box_tt {border: none;}

/*share*/
.content_pannel {height: 30px; margin: 0.5rem 0; font-size: 0.7rem;}
.share {float: right; height: 30px; line-height: 30px;}
.share span {float: left;}
.share a {float: left; display: block; height: 30px; margin:0 0 0 2px; overflow: hidden;}
.share .ico {display: block; width: 30px; height: 30px; text-indent: -9999px;}
.ico_wb {background-position: 0 0;}
.ico_wx {background-position: 0 -30px}
.ico_qzone {background-position: 0 -60px}
.ico_tqq {background-position: 0 -90px}

.list_tt {font-size: 1rem; color: #fff; line-height: 45px; text-align: center;}
.listbox {width: 100%; margin-top: 0.5rem;}
.listbox a {display: block; height: 69px; background: #fff; overflow: hidden;}
.listbox_img {float: left; width: 110px; height: 69px; margin-right: 0.5rem;}
.listbox h2 {height: 45px; margin: 0 0 2px; font-size: 0.9rem; font-weight: bold; line-height: 24px; overflow: hidden;}
.listbox div {font-size: 0.6rem; color: #666; line-height: 18px;}
.listbox .avatar {display: none;}

.channelbox h2 {padding: 0 0.5rem; font-size: 0.9rem; line-height: 30px; font-weight: bold; border-bottom: 3px #ec0000 solid;}
.channellist {background: #fff; padding: 0.3rem 0.5rem; overflow: hidden;}
.channellist li {float: left; width: 20%; height: 30px; font-size: 0.8rem; line-height: 30px; overflow: hidden;}
.channeldrop {position:absolute; left: 0; top: 45px; width: 100%; height: 300px; background: rgba(206,0,0,0.9); z-index: 3;}
.channeldrop li {float: left; width: 33%; height: 95px; margin-top: 15px; font-size: 0.8rem; text-align: center;}
.channeldrop ul {overflow: hidden;}
.channeldrop a {color: #fff;}
.channeldrop .ico {display: block; width: 70px; height: 71px; background: url(../images/ico.png) no-repeat; background-size: 220px 145px; margin: 0 auto 5px;}
.nav_2 .ico {background-position: -75px 0;}
.nav_3 .ico {background-position: -150px 0;}
.nav_4 .ico {background-position: 0 -75px;}
.nav_5 .ico {background-position: -75px -75px;}
.nav_6 .ico {background-position: -150px -75px;}
.channeldrop_close {margin-top: 40px; font-size: 0.8rem; text-align: center; line-height: 30px;}
.channeldrop_close a {background: url(../images/arrow.png) no-repeat left center; background-size: 16px 16px; padding-left: 20px;}

.rankbox_bar {height: 40px; background: #ffd21a; margin-top: 10px; overflow: hidden;}
.rankbox_bar_tab {line-height: 40px;}
.rankbox_bar_tab a {margin: 0 15px; font-size: 0.8rem;}
.rankbox_bar_tab .cur {color: #c10000; font-weight: bold;}
.ranklist {margin-left: -5%; overflow: hidden;}
.ranklist li {float: left; width: 45%; margin: 15px 0 0 5%; text-align: center; overflow: hidden;}
.ranklist em {color: #ce0000;}
.ranklist img {min-height: 200px; max-height: 200px;}
@media screen and (orientation:landscape){.ranklist img {min-height: 308px; max-height: 308px;}}

.sitelist li {float: left; width: 25%; margin-top: 20px; font-size: 0.8rem; text-align: center;}
.sitelist img {display: block; width: 60px; margin: 0 auto 5px;}

.mod_tag {margin:0.5rem 0 0;}
.mod_tag span {display: inline-block; background: #ebebeb; padding: 0 10px; margin-right: 3px; line-height: 24px; border: solid #e7e7e7 1px;}
.mod_tag_big span {font-size: 14px; line-height: 26px;}
.moviedetail {position: relative;  padding-left: 145px; margin: 0.5rem 0; overflow: hidden;}
.moviedetail .pic {position: absolute; left: 0; top: 0; width: 135px;}
.moviedetail img {width: 135px;}
.moviedetail h2 {font-size: 0.9rem;}
.moviedetail p {height: 26px; font-size: 0.7rem; line-height: 26px; overflow: hidden;}
.moviedetail_btn {display: block; width: 122px; height: 38px; background: url(../images/btn_1.png); font-size: 18px; color: #fff !important; line-height: 38px; text-indent: 45px;}
.movie_intro {margin-top: 10px;font-size: 0.7rem;}
.movie_intro a {color: #c10000;}

.movielist {overflow: hidden;}
.movielist li {float: left; width: 33%; padding: 0 5px; font-size: 0.7rem; text-align: center; box-sizing: border-box;}
.movielist img {width: 100%;}
.act_fresh {float: right; font-size: 0.8rem; line-height: 50px;}
.act_fresh a {color: #c10000;}